body
{
    color:black;
    text-align:center;
    padding: 0;
    margin : 0;
    border: 0;
    height:auto;
}


.formlabel{
	width: 400px;
}

#formResponsive{
	display:none;
}


.walksInputResponsive{
	font-family: arial, sans-serif;
	border-collapse: collapse;
	display:none;
}


.walksInput {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  display:none;

}

.walksInput td, th {
  border: 1px solid black;
  text-align: center;
  padding: 1%;
  min-width:600px;
  font-size: 400%;
}


.walksInput input{
  font-size: 100%;
  max-width:90%
}

.walksInput textarea{
  font-size: 100%;
  padding:0;
  margin:0;
  border:1px solid black;
  width: 100%;
  height:100%;
}



fieldset {
      overflow: hidden
    }
    
fieldset div {
      float: left;
      clear: none;
    }
    
fieldset label {
      float: left;
      clear: none;
      display: block;
      padding: 0px 1em 0px 8px;
	  font-size: 50px;
    }
    
fieldset input[type=radio],
    input.radio {
      float: left;
      clear: none;
      margin: 2px 0 0 2px;

    }

fieldset input[type=radio]{
	width:1em;
    height: 1em;
	float: left;
    clear: none;
}

 
#form{
	border:0;
	padding:0;
	margin:0;
}


.sideButton{
	height: 15%;
	width:70%;
	font-size: 400%;
}

.sideButtonNormal{
	height: 15%;
	width:70%;
	font-size: 400%;
}


.sideButtonResponsive{
	display:none;
}

#walksInputTable{
	display:none;
}

#walksTable{
	display:none;
}

#tblClubAnnouncements{
	display:none;
}

#tblSocialEvents {
	display:none;
}

#tblMembers {
	display:none;
}

#btnWalkForm{
	height: 100%;
	width:50%;
	font-size: 100%;
	margin:6px;
	text-align:center;
	float:right;
	clear:none;
}

#btnWalkFormReset{
	text-align:center;
	height: 50%;
	width:50%;
	font-size: 100%;
	margin:6px;
	float:right;
	clear:none;
}

#inputAddWalk {
	display:none;
}

#logo {
    grid-column: 1/2;
    grid-row: 1/2;
}


#title {
    grid-column: 2/5;
    grid-row: 1/2;
	font-size:200%
}

#side {
    grid-column: 1/2;
    grid-row: 2/4;
}

#main {
    grid-column: 2/5;
    grid-row: 2/4;
    padding: 2%;
}

#footer{
    grid-column:1/5;
    grid-row:4/5;

}


.grid-container {
    display: grid;
    background: yellow;
    margin: 0 auto;
    padding: 1em;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 2fr 4fr 1fr ;
    grid-gap: 1em;
    max-height:100%;
    max-width:100%;
}

.grid-container div{
    background-color:aqua;
    padding:5%;
}


@media screen and (max-width: 425px) {
		body
		{
			color:black;
			text-align:center;
			padding: 0;
			margin : 0;
			border: 0;
			height:auto;
		}
		
		.grid-container {
		display: grid;
		background: blue;
		margin: 0 auto;
		padding: 1em;
		grid-template-columns: 1fr;
		grid-template-rows: 100px 100px 600px 100px;
		grid-gap: 1em;
		max-height:100%;
		max-width:90%;
	}
	
	
		.grid-container div{
		background-color:aqua;
		padding:5%;
	}
	
	.sideButton{
		height:100%;
		width:90%;
		font-size: 200%;
		margin:3px;
		border:0;
		padding:2px;
	}
	
	.sideSocial{
		height:100%;
		width:90%;
		font-size: 180%;
		margin:3px;
		border:0;
		padding:2px;
	}
	
	.sideButtonResponsive{
	height: 50%;
	width:50%
	font-size: 12px;
	margin:5%;
	display: none;
	}
	
	.sideButtonNormal{
		display:none;
	}
	
	.walksInput{
		display:none;
	}

	
	#image{
		height: 50px;
		width: 60px;
		display:none;
	}
	
	#logo {
		display:none;
	}


	#title {
		grid-column: 1/2;
		grid-row: 1/2;
		font-size:50%;
	}

	#side {
		grid-column: 1/2;
		grid-row: 2/3;
		display:block;
		overflow:auto;

	}

	#main {
		grid-column: 1/2;
		grid-row: 3/5;
		padding: 2%;
		background-color:aqua;
		display:block;
		overflow:auto;
	}

	#footer{
		grid-column:1/2;
		grid-row:5/6;

	}
	
	#formResponsive{
		display:block;
	}
	
	
	.walksInputResponsive {
		font-family: arial, sans-serif;
		border-collapse: collapse;
	}


	.walksInputResponsive td, th {
	  border: 1px solid black;
	  text-align: center;
	  padding: 1%;
	  max-width:80%;
	   font-size: 400px;
	   font-weight: 500;
	}


	.walksInputResponsive tr:nth-child(even) {
	  background-color: #dddddd;
		padding:0;
	}

	.walksInputResponsive input{
	  min-width:90%
	}

	.walksInputResponsive textarea{
	  font-size: 100%;
	  padding:0;
	  margin:0;
	  border:1px solid black;
	  width: 100%;
	  height:100%;
	}
	
	
	
	fieldset {
      overflow: hidden
    }
    
	fieldset div {
		  float: left;
		  clear: none;
		}
		
	fieldset label {
		  float: left;
		  clear: none;
		  display: block;
		  padding: 0px 1em 0px 8px;
		  font-size: 50px;
		}
		
	fieldset input[type=radio],
		input.radio {
		  float: left;
		  clear: none;
		  margin: 2px 0 0 2px;

		}

	fieldset input[type=radio]{
		width:1em;
		height: 1em;
		float: left;
		clear: none;
	}
	
}




